<!-- _includes/tiles.html -->
<div class="row">
    {% for tile in site.data.tiles %}
      {% unless tile.title == include.exclude %}
        <div class="col-md-12 mb-4">
          <a href="{{ tile.link }}" class="card-link">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ tile.title }}</h5>
                <p class="card-text">{{ tile.text }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endunless %}
    {% endfor %}
</div>  