/* General Body Styles */
body {
  background-image: url('/assets/images/website-pattern-image.png'); /* Path to your pattern image */
  background-color: #f4f4f4; /* A fallback color in case the image fails to load */
  background-position: center center; /* Align the image at the center of the page */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  /*background-size: contain; /* Make sure the image is scaled appropriately */
  /*min-height: 100vh; /* Ensure the body covers the whole viewport height */
  /*display: flex; /* Use flexbox to aid with the centering */
}

/* Header Styles */
header {
  display: flex; /* Enables flexbox properties */
  justify-content: space-between; /* Align items on the opposite ends */
  align-items: center; /* Aligns items vertically */
  background-color: #aedb9f; /* Custom green color, matching the button color */
  padding: 15px 30px; /* Ample padding for a spacious layout */
  border-radius: 0.25rem; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: fixed; /* Fixed at the top */
  width: 100%; /* Full width */
  height: 100px;
  top: 0;
  z-index: 1030; /* Above other elements */
 }

#profile-pic {
  flex: 0 1 auto; /* Flex-grow, Flex-shrink, Flex-basis */
  height: 100%; /* Maintain image size relative to new header height */
  border-radius: 50%; /* Circular image */
  /*position: absolute; /* Absolute positioning relative to the header */
  /*left: 30px; /* Space from the left edge */
  width: auto; /* Maintain aspect ratio */
  margin-right: auto; /* Pushes all other items to the right */
  margin-right: 20px; /* Ensures a gap between the profile pic and title */
}

#logo {
  flex: 0 1 auto; /* Flex-grow, Flex-shrink, Flex-basis */
  height: 100%; /* Adjust height as necessary */
  width: auto; /* Maintain aspect ratio */
  margin-left: auto; /* This ensures it stays to the right */
  margin-left: 20px; /* Ensures a gap between the title and logo */
  border-radius: 0; /* No border radius for the logo */
}

.header-title {
  flex-grow: 1; /* Allows the title to fill the space and center-align */
  text-align: center; /* Centers the text within its area */
  color: white; /* White text for contrast */
  font-size: 25px; /* Adjust font size as needed */
  padding-left: 10px; /* Adjust padding to prevent overlap with the image */
}

/* Adjustments when scrolled */
header.small {
  padding: 1px 1px; /* Reduced padding on scroll */
  height: 1px; /* Reduce header height on scroll */
  background-color: #92c08d; /* Slightly darker shade on scroll */
}

header.small img {
  height: 5%; /* Maintain image 50% size relative to new header height */
}

header.small .header-title {
  font-size: 1px; /* Reduced font size on scroll */
}

/* Main Content Styles */
.content {
  padding-top: 100px; /* Space below fixed header */
  margin: 20px; /* Space from edges */
}

/* Bootstrap container for main layout */
.container {
  padding: 20px; /* Inner spacing */
  background-color: white; /* White background for content areas */
  border-radius: 0.25rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistent shadow for depth */
}

/* Footer Styles */
footer {
  background-color: #92c08d; /* Light grey background */
  color: white; /* Text color */
  padding: 10px 20px; /* Consistent padding */
  text-align: center; /* Centered text */
  margin-top: 20px; /* Space from content */
}

/* Links styling */
footer a {
  color: #007BFF; /* Standard blue for unvisited links */
  text-decoration: none; /* Optional: Removes underline from links */
}

footer a:hover {
  color: #0056b3; /* Darker blue on hover for better interaction feedback */
  text-decoration: underline; /* Optional: Adds underline on hover */
}


/* Custom button styling */
.btn-custom {
  background-color: #aedb9f; /* Green background */
  border-color: #9ec88f; /* Slightly darker border */
  color: white; /* Text color */
}

.btn-custom:hover {
  background-color: #9ec88f; /* Darker on hover */
  border-color: #8db87f;
}

.video-container .card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.video-container .card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.video-container img {
  height: auto;
  width: 100%; /* Responsive image */
}



/* Responsive Adjustments */
@media (max-width: 768px) {
  header, .header.small {
    padding: 5px 10px; /* Smaller padding on mobile */
  }

  #profile-pic, #logo {
    height: 40px; /* Smaller images on mobile */
}

.header-title {
    font-size: 1.5em; /* Smaller font on mobile */
    padding-left: 10px; /* Less padding on mobile */
}

  .content {
    padding-top: 70px; /* Smaller top padding to account for smaller header */
  }

  footer {
    padding: 5px; /* Smaller padding in footer */
  }
}
